.bigbutton{
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple,10%);
    color:white;
    font-weight: bold;
    font-size:$l_size;
    margin-bottom: $m_size;
    padding:2.4rem;
    width: 100%;
}
.bigbutton:disabled{
    opacity: 0.5;
}
.button{
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple,10%);
    color:white;
    font-weight: 500;
    font-size:$s_size;

}
.button--link{
    background: none;
    border: none;
    color:$off-white;
    padding: 0;
}
@media (min-width:$desktop-breakpoint){
.bigbutton{
    margin-bottom: $xl_size;
}    
}